.App {
  text-align: center;
}

.Header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #282c34;
  padding: 0.2rem 1rem;
}

.Footer {
  background-color: #282c34;
  color: whitesmoke;
  padding: 0.6rem;
  font-size: 0.8rem;
}