@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,600;8..144,700&display=swap');

:root {
  --color-light: whitesmoke;
  --color-dark: #282c34;
  --color-primary: #0a4095;
  --color-accent: #d423a2;
  --font-primary: 'Roboto Flex', sans-serif;
  --font-accent: 'Playfair Display', serif;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
  font-family: var(--font-primary);
  font-size: 1rem;
}

hr {
  width: 100%;
  margin: 2rem 0 1rem 0;
}

h1,
h2 {
  font-family: var(--font-primary);
  font-family: var(--font-accent);
  font-weight: bold;
}

h1 {
  color: var(--color-accent);
  font-size: 2.5rem;
  padding-top: 1rem;
  /*  added to main one ? */
}

h2 {
  color: var(--color-primary);
  font-size: 1.5rem;
}

h3 {
  color: var(--color-primary);
  font-size: 1.2rem;
}

h1,
h2,
h3,
p {
  margin: 0.5rem 0 0.7rem 0;
}

/******** HEADER ********/
nav {
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--color-dark);
  padding: 0.4rem 1rem;
}

.logoContainer {
  display: flex;
}

.logo {
  max-width: 7%;
  height: auto;
}

/******** NAVBAR ********/
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: right;
  font-size: 1.2rem;
}

.nav-bar li a {
  display: block;
  padding: 15px;
  color: #282c34;
  text-decoration: none;
  font-weight: 500;
}

.nav-bar li a:hover {
  color: var(--color-accent);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

a:hover {
  color: var(--color-accent);
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
}

.singlePost {
  margin: 3rem 0;
}


/******** FOOTER ********/
.Footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #282c34;
  color: whitesmoke;
  padding: 1rem 0;
  font-size: 0.8rem;
}

.Footer h4 {
  margin-top: 0.2rem;
}

.Footer a {
  color: white;
  margin: 0 0.3rem;
}

.Footer a:hover {
  color: var(--color-accent);
}

/******** MAIN CONTENT ********/
.mainContent {
  margin: 3.2rem 20%;
  text-align: left;
}

.postContent {
  margin: 2rem 0;
}

.deleteBtn {
  appearance: none;
  outline: 0;
  background-color: var(--color-primary);
  border: 0;
  padding: 10px 12px;
  margin-bottom: 15px;
  color: white;
  border-radius: 3px;
  width: 120px;
  font-size: 16px;
}

.deleteBtn:hover {
  background-color: var(--color-accent);
  color: var(--color-dark);
}


/* LOADER */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid var(--color-primary);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}