* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  /******** HEADER ********/
  .Header {
    background-color: var(--color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--color-dark);
    padding: 0.2rem 1rem;
  }

  .loginContainer {
    margin: 10% auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  .loginContainer h2 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .loginTitleDiv{
    width: 250px;
    margin: 0 auto;
  }
  
  .loginInput {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(101, 96, 80, 0.059);
    width: 250px;
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--color-dark);
  }
  
  .loginBtn {
    appearance: none;
    outline: 0;
    background-color: var(--color-primary);
    border: 0;
    padding: 10px 15px;
    margin-bottom: 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

 .loginBtn:hover {
    background-color: var(--color-accent);
  }

  
.logoutBtn {
  border: none;
  font-size: 1.2rem;
  font-weight: 200;
  padding:0;
  background-color: #F5F5F5;
  height: 100%;
  color: #282c34;
  margin-left: 10px;
}

.logoutBtn:hover {
  color: var(--color-accent);
}

  