:root{
    --color-light: whitesmoke;
    --color-dark:  #282c34;
    --color-primary: #0f659a;
    --color-accent: #f6b717;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  .container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
  }
  
  .container h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
  input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(120, 47, 47, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  button {
    appearance: none;
    outline: 0;
    background-color: var(--color-accent);
    border: 0;
    padding: 10px 15px;
    color: var(--color-primary);
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

  button:hover {
    background-color: var(--color-primary);
    color: white;
  }

  .logoutBtn {
    background-color: #282c34;
    border: 0;
    padding: 1rem 0;
    margin: 0 1rem;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
  }
  .logoutBtn:hover {
    background-color: white;
    color: rgb(235, 33, 44);
  }
  
  .registerMsg {
    color:rgb(235, 33, 44);
    font-size: 1rem;
    margin-top: 1rem;
  }
  