* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  .newpostContainer {
    margin: 5% auto;
    width: 800px;
    padding: 0;
    text-align: left;
  }
  
  .newpostContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  input, textarea {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(101, 96, 80, 0.059);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    text-align: left;
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--color-dark);
  }

  input {
    width: 250px;
    margin: 10px 0 30px 0;
  }

  textarea {
    width: 100%;
    margin: 10px auto;
  }

  .newPosth1{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .newpostLabel {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-primary)
  }
  
 .publishBtn {
    appearance: none;
    outline: 0;
    background-color: var(--color-primary);
    border: 0;
    margin: 5px 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-primary);
  }

  .publishBtn:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
  }
